body {
	background-color: #F8F5AF;
	background-image: url(img/background.png);
	background-repeat: repeat-y;
	background-position: center;
	margin-top: 50%;
}

#head2 {
	position:absolute;
	width:973px;
	height:313px;
	z-index:2;
	left: 0px;
	top: 20px;
}
#apartado1 {
	position:absolute;
	width:300px;
	height:50px;
	z-index:3;
	left: 24px;
	top: 339px;
}

#apartado2 {
	position:absolute;
	width:300px;
	height:50px;
	z-index:5;
	left: 20px;
	top: 340px;
}
#queesunhidato {
	position:absolute;
	width:890px;
	height:1711px;
	z-index:6;
	left: 40px;
	top: 390px;
}
#apartado3 {
	position:absolute;
	width:300px;
	height:50px;
	z-index:7;
	left: 20px;
	top: 1990px;
}
#comosejuega {
	position:absolute;
	width:890px;
	height:1697px;
	z-index:8;
	left: 40px;
	top: 399px;
}
#apartado4 {
	position:absolute;
	width:300px;
	height:50px;
	z-index:9;
	left: 30px;
	top: 3742px;
}
#elcreador {
	position:absolute;
	width:890px;
	height:150px;
	z-index:10;
	left: 40px;
	top: 3792px;
}
#apartado5 {
	position:absolute;
	width:300px;
	height:50px;
	z-index:9;
	left: 30px;
	top: 3950px;
}
#funcionamiento {
	position:absolute;
	width:890px;
	height:150px;
	z-index:10;
	left: 40px;
	top: 4000px;
}
.normalText{
	color: #000000; 
	font-size: 15px;
	font-family: "Trebuchet MS", "DejaVu Sans";
	font-weight: bold;
}
.normalink{
	color: #000000; 
	font-size: 20px;
	font-family: "Trebuchet MS", "DejaVu Sans";
	font-weight: bold;
}

#principal {
	position:absolute;
	width:900px;
	height:auto;
	z-index:1;
	left: 50%;
	margin-left:-487px;
	top: 0px;
}
#contenido {
	position:absolute;
	width:900px;
	height:auto;
	z-index:4;
	left: 40px;
	top: 450px;
}
.indice * {margin:0; padding:0; font:18px "Trebuchet MS", "DejaVu Sans";}
code {font-family:"Courier New",Courier}

#options {width:457px; margin:20px auto; text-align:right; color:#9ac1c9}
#options a {text-decoration:none; color:#9ac1c9}
#options a:hover {color:#033}

#acc {width:457px; list-style:none; color:black; margin:0 auto 40px}
#acc h3 {width:443px; border:1px solid black; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background-color:#006087}
#acc h3:hover {background-color:#0099FF}
#acc .acc-section {overflow:hidden; background:#afafaf}
#acc .acc-content {width:425px; padding:15px; border:none; background:#afafaf}

#nested {width:425px; list-style:none; color:black; margin-bottom:15px}
#nested h3 {width:411px; border:1px solid black; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background-color:#006087}
#nested h3:hover {background-color:#0099FF}
#nested .acc-section {overflow:hidden; background:#afafaf}
#nested .acc-content {width:393px; padding:15px; border:none; background:#afafaf}

#cuentas {width:350px; list-style:none; color:black; margin-bottom:15px}
#cuentas h3 {width:350px; border:1px solid black; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background-color:#006087}
#cuentas h3:hover {background-color:#0099FF}
#cuentas .acc-section {overflow:hidden; background:#fff}
#cuentas .acc-content {width:350px; padding:15px; border:1px solid #9ac1c9; border-top:none; background:#fff}

#partidas {width:350px; list-style:none; color:black; margin-bottom:15px}
#partidas h3 {width:350px; border:1px solid black; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background-color:#006087}
#partidas h3:hover {background-color:#0099FF}
#partidas .acc-section {overflow:hidden; background:#fff}
#partidas .acc-content {width:350px; padding:15px; border:1px solid #9ac1c9; border-top:none; background:#fff}

#estadisticas {width:350px; list-style:none; color:black; margin-bottom:15px}
#estadisticas h3 {width:350px; border:1px solid black; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background-color:#006087}
#estadisticas h3:hover {background-color:#0099FF}
#estadisticas .acc-section {overflow:hidden; background:#fff}
#estadisticas .acc-content {width:350px; padding:15px; border:1px solid #9ac1c9; border-top:none; background:#fff}

#ayuda {width:350px; list-style:none; color:black; margin-bottom:15px}
#ayuda h3 {width:350px; border:1px solid black; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background-color:#006087}
#ayuda h3:hover {background-color:#0099FF}
#ayuda .acc-section {overflow:hidden; background:#fff}
#ayuda .acc-content {width:350px; padding:15px; border:1px solid #9ac1c9; border-top:none; background:#fff}

#juego {width:350px; list-style:none; color:black; margin-bottom:15px}
#juego h3 {width:350px; border:1px solid black; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background-color:#006087)}
#juego h3:hover {background-color:#0099FF}
#juego .acc-section {overflow:hidden; background:#fff}
#juego .acc-content {width:350px; padding:15px; border:1px solid #9ac1c9; border-top:none; background:#fff}